body {
    background: lightblue;
}

.section {
    background: rgb(137, 194, 212);
}

.main-heading {
    color: red;
}

.secondary-heading {
    color: #41850d;
}

p {
    color: grey;
}

.special-heading {
    color: hotpink;
}

#top {
    background: purple;
}

a {
    color: palevioletred;
}

nav a {
    color: yellow;

}

.header {
    background: olive;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.cssLogo {
    padding: 10px 0;
    height: 200px;
    width: 200px;
}

.htmlLogo {
    padding: 10px 0;
    height: 200px;
    width: 200px;
}