body {
    background: lightblue;
}

section {
    background: lightblue;
}

h1 {
    color: red;
}
p {
    color: grey;
}
h2 {
    color: #41850d;
}
.hotpink-header {
    color: hotpink;
}

#top {
    background: purple;
}

a {
    color: palevioletred;
}

nav a {
    color: yellow;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.cssLogo {
    padding: 10px 0;
    height: 200px;
    width: 200px;
}

.htmlLogo {
    padding: 10px 0;
    height: 200px;
    width: 200px;
}